body {font-family: "Atkinson Hyperlegible", sans-serif;font-size:16pt;margin:0 10pt}

@media (min-width: 800px) {
	.ssss>div {display:flex;flex-direction:row}
	.side {flex:0 0 300px;border-right:1px solid #999;border-bottom:0;margin-right:16pt}
	.centre {flex: 0 900px;padding-right:16pt}
}

.ssss {background-color:#eee;font-size:14pt;margin:0}
.side {padding:16pt;background-color:#fff;border-bottom:1px solid #999}
.photo {width:110px;height:110px;background-color:#ccc;border-radius:64px;display:block;line-height:110px;text-align:center;font-size:10pt;text-transform:uppercase;margin:10pt 0}
pre.flow {white-space:pre-line; font-family:"Atkinson Hyperlegible", sans-serif}
article.post {border: gray 1px solid;border-radius:6pt;margin:16pt 0;background-color:#fff}
article.post main {font-size:16pt;margin:10pt 0}
article.post main>div {margin:0 10pt}
article.post header, article.post footer {margin:10pt}
article.post footer {font-size:11pt}

iframe.fallback {border:0;width:100%;height:200px}

blockquote {border: gray 1px solid;border-radius:6pt;padding:10pt;margin:10pt -8pt}
blockquote .cite-name {font-size:14pt}

img.faux-char {height:1em;width:auto;vertical-align:text-top;}

.global-footer {text-align:center;font-size:12pt;padding:10pt;border-top:1px solid #666;background-color:#fff}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: normal;font-style: normal;
	src: local("Atkinson Hyperlegible Regular"), local("AtkinsonHyperlegible-Regular"), url("/assets/Atkinson-Hyperlegible-Regular-102.woff");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: normal;font-style: italic;
	src: local("Atkinson Hyperlegible Italic"), local("AtkinsonHyperlegible-Italic"), url("/assets/Atkinson-Hyperlegible-Italic-102.woff");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: bold;font-style: normal;
	src: local("Atkinson Hyperlegible Bold"), local("AtkinsonHyperlegible-Bold"), url("/assets/Atkinson-Hyperlegible-Bold-102.woff");
}
@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: bold;font-style: italic;
	src: local("Atkinson Hyperlegible Bold Italic"), local("AtkinsonHyperlegible-BoldItalic"), url("/assets/Atkinson-Hyperlegible-BoldItalic-102.woff");
}
