<h2>Archives</h2>
<ul>
	{% for post in site.posts %}
	{% assign this_post_month = post.date | date: site.month_format %}
	{% assign prev_post_month = post.next.date | date: site.month_format %}
	{% if this_post_month != prev_post_month %}
	{% assign archive_page = forloop.index0 | divided_by: site.paginate | plus: 1 %}
	<li>
		{% if archive_page == 1 %}
		<a href="/archive#{{ this_post_month }}">{{ this_post_month }}</a>
		{% else %}
		<a href="{{ site.paginate_path | replace: ':num', archive_page }}#{{ this_post_month }}">{{ this_post_month }}</a>
		{% endif %}
	</li>
	{% endif %}
	{% endfor %}
</ul>
